[
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, undefined},
            {handler, journal, logger_journald_h,
             #{
               level => error,
               config => #{
                   socket_path => "/run/systemd/journal/socket",
                   defaults => #{"MY_APP" => "Hello world",
                                 "SYSLOG_IDENTIFIER" => logger_journald_test}
              }
            }},
            {module_level, debug, [logger_backend]}
        ]}
    ]}
].
