%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, []}.

{profiles, [
    {dev, [
        {plugins, [
            erlfmt,
            {rebar3_lint, "0.2.0"}
        ]},
        {erlfmt, [
            write,
            {files, [
                "{src,test}/*.{hrl,erl}",
                "src/*.app.src",
                "rebar.config"
            ]}
        ]},
        {elvis, [
            #{
                dirs => ["src"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [{elvis_style, line_length, #{limit => 100}}]
            }
        ]}
    ]}
]}.

{shell, [
    {config, "test/test.sys.config"},
    {apps, [logger_journald]}
]}.
